<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh Toán</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
    rel="stylesheet" />
    
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/forms.css">
    <link rel="stylesheet" href="./public/styles/cart.css">
  </head>
  <body>
    <main>
      <h1>Your Orders</h1>
      <% for(let i = 0; i< orders.length; i++){ %> 
      <div id="cart-items" href="/products/<%= orders[i].productId %>">
        <article class="cart-item" alt="<%= orders[i].name%>" >
          <img src= "<%= orders[i].imagePath%>" >
            <div class = "cart-info">
              <div class="cart-item-info">
                <h2><%= orders[i].name%></h2>
                <p>Số lượng: <%= orders[i].Orders[0].quantity %> </p>
                <p>Email: <%= orders[i].Orders[0].User.email %> </p>
              </div>
              <p class="total">Thành tiền: 100.000 VND</p>
          </div>
          
        </article>
      </div>
      <% } %> 
    </main>
  </body>
</html>

